<!DOCTYPE html>
<style>

p {
    padding: 40px; height: 40px;
}


h1{
    text-align: center; color: white;
}

h2{
    text-align: center; color: white;
}

.fundo { 

width: 100%;
height: 400px;

background-color: red; 

}

.card {

width: 200px;
height: 100px;
margin: auto;

background-color: #fff;
text-align: center;

border-radius: 20px;

}
</style>

<div class="fundo">
    <h1>Sistema de navegação por audio</h1>
    <h2>No modo mouse você é capaz de ouvir o que está na tela posicionando o cursor do mouse.</h2>
    <div class="card"><a href="/mouse/categories"><p>Modo Mouse</p></a></div>
    <h2>No modo teclado você é capaz de ouvir o que está na tela através da navegação via teclado (TAB para navegar e ENTER para selecionar).</h2>
    <div class="card"><a href="/teclado/categories"><p>Modo Teclado</p></a></div>
  </div>

</html>